A demo on interacting with London Biking Share data from Kaggle
using pandas

In [1]:
import pandas as pd 
import numpy as np


bikes = pd.read_csv("london_merged.csv")
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [2]:
bikes.shape

(17414, 10)

In [3]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [4]:
# Many of the column headers are too nondescript.
#  I change some to better reflect their descriptions on Kaggle.
new_column_names = {
    "timestamp" : "time",
    "cnt" : "count",
    "t1" : "temp_real_C",
    "t2" : "temp_subjective_C",
    "hum" : "humidity",
    "wind_speed" : "wind_speed_kph",
    "weather_code" : "weather_code",
    "is_holiday" : "is_holiday",
    "is_weekend" : "is_weekend",
    "season" : "season_code"
}

bikes.rename(new_column_names, axis=1, inplace=True)

In [5]:
bikes['humidity'] = bikes['humidity'] /100
#bikes['humidity']

In [6]:
max(bikes['weather_code'])

26.0

In [7]:
# Values for 'season' and 'weather_code' are inherently numerized (float64).
# Here are keys for these values as strings.
# These descriptions reflect those on Kaggle as well.

season_key = {
    "0.0" : "spring",
    "1.0" : "summer",
    "2.0" : "fall",
    "3.0" : "winter"
}

weather_key = {
    "1.0" : "Clear",
    "2.0" : "Scattered clouds",
    "3.0" : "Broken clouds",
    "4.0" : "Cloudy",
    "7.0" : "Rain",
    "10.0" : "Rain with thunderstorm",
    "26.0" : "Snowfall",
    "94.0" : "Freezing fog"
}
# A weather_key value of 94.0 is not present in the data, but is suggested on Kaggle.

In [8]:
# New columns with string values so as to keep the numerized columns.
bikes['weather'] = ( bikes.weather_code.astype('str') ).map(weather_key)
bikes['season'] = ( bikes.season_code.astype('str') ).map(season_key)
#bikes

In [12]:
# Writing these manipulations to an excel file for Tableau
bikes.to_excel('LondonBiking_final.xlsx', sheet_name='Data')